<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.kotlintest">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".ui.activity.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.ThirdPartBannerZxingAcitivity"/>
        <activity android:name=".ui.qrcode.CaptureActivity"/>
        <activity android:name=".ui.activity.CustomerBannerActivityJava"/>
        <activity android:name=".ui.activity.MineActivity"/>
        <activity android:name=".ui.activity.RuanActivity"/>
        <activity android:name=".ui.activity.YingActivity"/>
        <activity android:name=".picture.UploadActivity"/>
        <activity android:name=".picture.CropImageActivity"/>
        <activity android:name=".picture.ImageDiscernActivity"/>
        <!--<activity android:name="com.example.usercenter.ui.activity.UserCenterActivity"/>-->
        <activity android:name="com.yalantis.ucrop.UCropActivity" />
        <activity android:name="com.yalantis.ucrop.PictureMultiCuttingActivity" />
    </application>

</manifest>